* {
margin:0;
padding:0;
border:0;
outline:none;
text-decoration:none;
}

body{

    position:relative;
	background-image:url(images/912b.jpg);
	background-size: auto auto;
	background-position: center 0;
}
#error_wrapper{


}
#message{

    position:relative;
	margin:15% auto;
	width:63%;
	text-align:center;
	font-size: 30px;
	color: #fff;

}